<div class="grid grid-cols-2 h-screen">
  <div class="bg-pin bg-green-600 flex flex-col gap-4 justify-center ps-28">
    <h1 class="text-blue-100 text-3xl font-bold">Todo Shopping List</h1>
    <p class="max-w-md text-blue-200 text-xl">
      Hello dear recruiter, welcome to my test application for eAsistent eSola d.o.o. <br>
      Start section to find out more about the app
    </p>
  </div>
  <div class="flex w-full justify-center items-center">
    <div class="w-1/2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>